<h1>List of All Buildings</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
 
  <% @building.each do |building| %>
    <tr>
      <td><%= building.name %></td>
      <td><%= building.latitude %></td>
      <td><%= building.longitude %></td>
      <td><%= link_to 'Locations', building_path(building) %></td>
  <% end %>
</table>

<%= link_to 'Home', controller: 'welcome', action: 'index' %>