<h1>Locations</h1>
<% @building.locations.each do |l| %>
    <p>
        <strong>Floor: </strong><%= l.floor %>
    </p>
    <p>
        <strong>Room Number: </strong><%= l.roomNumber %>
    </p>
    <p>
        <strong>Description: </strong><%= l.description %>
    </p>
        <% l.comments.each do |c| %>
            <strong>Commenter: </strong> <%= c.commenter %>
            <strong>Comment: </strong> <%= c.body %>
            <br />
        <% end %>
<% end %>
<br />

<%= link_to 'Back', controller: 'building', action: 'index' %>