<h1>Location</h1>
<p>
    <strong>Floor: </strong> <%= @location.floor %>
    <strong>Room Number: </strong> <%= @location.roomNumber %>
    <strong>Description: </strong> <%= @location.description %>
</p>

<br />
<h2>Comments and Ratings</h2>
<%= render @location.comments %>

<% @location.ratings.each do |r| %>
    <p>
        <strong> Rating: </strong> <%= r.stars %>
    </p>
<% end %>

<br />
<h2> Add a comment: </h2>
<%= form_for([@location, @location.comments.build]) do |f| %>
    <p>
        <%= f.label :commenter %><br />
        <%= f.text_field :commenter %>
    </p>
    <p>
        <%= f.label :body %><br />
        <%= f.text_field :body %>
    </p>
    <p>
        <%= f.submit "Comment", name: "comment_here" %>
    </p>
<% end %>
<h2> Rate This Location: </h2>
<%= form_for([@location, @location.ratings.build]) do |r| %>
    <p>
        <%= r.label :stars %><br />
        <%= r.text_field :stars %>
    </p>
    <p>
        <%= r.submit "Rate" %>
    </p>
<% end %>