<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class = "navBar">
			<li><%= link_to 'Home', controller: 'welcome', action: 'index' %></li>
			<li><%= link_to 'Locations', controller: 'locations', action: "index" %></li>

			<li>Map</li>
			
		</ul>
    <%= yield %>
  </body>
</html>
