<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class = "navBar">
			<li><%= link_to 'Home', controller: 'welcome', action: 'index' %></li>
			<li><%= link_to 'Locations', controller: 'locations', action: "index" %></li>
			<li><%= link_to 'About Us', controller: 'emails', action: "index" %></li>
			<li>
			    <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Locations" %>
          
          <%= submit_tag "Search", :name => nil %>
        <% end %>
			</li>
		</ul>
    <%= yield %>
  </body>
</html>
