<div class = "contentLocations">
    <h1>Locations</h1>
    <% if @bool == 1 %>
        <h2>Searches: </h2>
            <% @location.each do |l| %>
                <p>
                    <strong>Building: </strong> <%= l.name %>
                </p>
                <p>
                    <strong>Floor: </strong> <%= l.floor %>
                </p>
                <p>
                    <strong>Room: </strong> <%= l.roomNumber %>
                </p>
                <p>
                    <strong>Description: </strong> <%= l.description %>
                </p>
            <% end %>
    <% else %>
    
        <h2>Atkins Library</h2>
        <table><!-- start of the table -->
           <col width="130">
           <col width="130">
           <col width="400">
           <col width="130">
           <tr><!-- this table row is for the headings of the table -->
               <th> Floor </th>
               <th> Room Number </th>
               <th> Description </th>
               <th> Show </th>
               
           </tr>
           <!-- second row for a building -->
           <% @l6.each do |location| %><!-- This created iteration for locations-->
                <tr>
                    <td><%= location.floor %></td>
                    <td><%= location.roomNumber %></td>
                    <td><%= location.description %></td>
                    <td><a><%= link_to "Show", location_path(location) %></a></td>
                    
                <% end %>
            </tr>
        </table>
        
        <h2>Cone Building</h2>
        <table><!-- start of the table -->
           <col width="130">
           <col width="130">
           <col width="400">
           <col width="130">
           <tr><!-- this table row is for the headings of the table -->
               <th> Floor </th>
               <th> Room Number </th>
               <th> Description </th>
               <th> Show </th>
               
           </tr>
           <!-- second row for a building -->
           <% @l2.each do |location| %><!-- This created iteration for locations-->
                <tr>
                    <td><%= location.floor %></td>
                    <td><%= location.roomNumber %></td>
                    <td><%= location.description %></td>
                    <td><a><%= link_to "Show", location_path(location) %></a></td>
                    
                <% end %>
            </tr>
        </table>
        
        <h2>Kennedy Building</h2>
        <table><!-- start of the table -->
           <col width="130">
           <col width="130">
           <col width="400">
           <col width="130">
           <tr><!-- this table row is for the headings of the table -->
               <th> Floor </th>
               <th> Room Number </th>
               <th> Description </th>
               <th> Show </th>
           </tr>
           <!-- second row for a building -->
           <% @l3.each do |location| %><!-- This created iteration for locations-->
                <tr>
                    <td><%= location.floor %></td>
                    <td><%= location.roomNumber %></td>
                    <td><%= location.description %></td>
                    <td><a><%= link_to "Show", location_path(location) %></a></td>
                <% end %>
            </tr>
        </table>
        
        
        <h2>Prospector</h2>
        <table><!-- start of the table -->
           <col width="130">
           <col width="130">
           <col width="400">
           <col width="130">
           <tr><!-- this table row is for the headings of the table -->
               <th> Floor </th>
               <th> Room Number </th>
               <th> Description </th>
               <th> Show </th>
               
           </tr>
           <!-- second row for a building -->
           <% @l5.each do |location| %><!-- This created iteration for locations-->
                <tr>
                    <td><%= location.floor %></td>
                    <td><%= location.roomNumber %></td>
                    <td><%= location.description %></td>
                    <td><a><%= link_to "Show", location_path(location) %></a></td>
                <% end %>
            </tr>
        </table>
        
        <h2>Student Union</h2>
        <table><!-- start of the table -->
           <col width="130">
           <col width="130">
           <col width="400">
           <col width="130">
           <tr><!-- this table row is for the headings of the table -->
               <th> Floor </th>
               <th> Room Number </th>
               <th> Description </th>
               <th> Show </th>
               
           </tr>
           <!-- second row for a building -->
           <% @l4.each do |location| %><!-- This created iteration for locations-->
                <tr>
                    <td><%= location.floor %></td>
                    <td><%= location.roomNumber %></td>
                    <td><%= location.description %></td>
                    <td><a><%= link_to "Show", location_path(location) %></a></td>
                <% end %>
            </tr>
        </table>
        
        <h2>Woodward Hall</h2>
        <table><!-- start of the table -->
           <col width="130">
           <col width="130">
           <col width="400">
           <col width="130">
           <tr><!-- this table row is for the headings of the table -->
               <th> Floor </th>
               <th> Room Number </th>
               <th> Description </th>
               <th> Show </th>
               
           </tr>
           <!-- second row for a building -->
           <% @l1.each do |location| %><!-- This created iteration for locations-->
                <tr>
                    <td><%= location.floor %></td>
                    <td><%= location.roomNumber %></td>
                    <td><%= location.description %></td>
                    <td><a><%= link_to "Show", location_path(location) %></a></td>
                <% end %>
            </tr>
        </table>
    <% end %>
</div>