<h1>Location</h1>
<p>
    <strong>Name: </strong> <%= @location.name %><br />
    <strong>Floor: </strong> <%= @location.floor %><br />
    <strong>Room Number: </strong> <%= @location.roomNumber %><br />
    <strong>Description: </strong> <%= @location.description %>
</p>

<!-- Averaging all of the ratings -->
<br />
<% var = 0 %>
<% cnt = 0 %>
<% @location.ratings.each do |r| %>
    <p>
        <% var += r.stars.to_f %>
        <% cnt += 1 %>
    </p>
<% end %>
<% if cnt != 0 %>
    <h2>Rating: <%= (var/cnt).round %></h2>
<% else %>
    <h2>Rating: No rating yet</h2> 
<% end %>


<br />
<h2>Comments: </h2>
<% # %>
<%= render @location.comments %>
<% # %>

<br />
<h2> Add a comment: </h2>
<%= form_for([@location, @location.comments.build]) do |f| %>
    <p>
        <%= f.label :commenter %><br />
        <%= f.text_field :commenter %>
    </p>
    <p>
        <%= f.label :body %><br />
        <%= f.text_field :body %>
    </p>
    <p>
        <%= f.submit "Comment", name: "comment_here" %>
    </p>
<% end %>

<h2> Add a rating: </h2>
<%= form_for([@location, @location.ratings.build]) do |f| %>
    <p>
        <%= f.label :stars %><br />
        <%= f.text_field :stars %>
    </p>
    <p>
        <%= f.submit "Rate" %>
    </p>
<% end %>

<!-- <%= link_to 'Locations', locations_path %> -->